<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestProduct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>staticLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>staticlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>staticliba.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A127DB41BA26B3F003C8C1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A127DBE1BA26B3F003C8C1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A127DDE1BA2756F003C8C1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A127DE81BA2756F003C8C1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A127E021BA276CB003C8C1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A127E0C1BA276CB003C8C1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF8E7611B7C844800720786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF8E77A1B7C844800720786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
